body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: #f4f4f4;
}
table td {
  padding: 0px;
}

table div {
  padding: 5px;
  border: 1px solid #000;
}

.container {
  display: flex;
  width: 100%;
  background: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.sidebar {
  width: 25%;
  padding: 20px;
  background: #ddd;
  height: 100vh;
  overflow: scroll;
}

.content {
  width: 75%;
  padding: 20px;
  height: 100vh;
  overflow: scroll;
}

.filter-form {
  display: flex;
  flex-direction: column;
}

select {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

th {
  background: #007bff;
  color: white;
}

/* ------------------ */

.active {
  background-color: gray !important;
  color: white;
}


